*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}
header{ 
    width: 100%;
    background: rgba(255, 144, 14, 0.1);;
    padding: 0 10%;

    
}
/* ----------nav-section----------- */

.nav-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    align-items: center;
}
.nav-section-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    text-align: center;
}
.items{
    display: flex;
    padding-top: 13px;
}
.items li{
    list-style: none;
}
.items li a{
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    padding-right: 50px;
    color: #424242;
}

/* ----------text-title-section--------- */

.text-title-section{
    width: 100%;
    text-align: center;
    margin-top: 100px;
}
.text-title{
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}
.text-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin: 30px 0px 30px 0px;
}
.btn-primary{
    border: none;
    text-align: center;
    padding: 20px 24px;
    background: #FF900E;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
}
/* -------banner---- */
.banner{
    margin-top: 50px;
}
.banner img{
    width: 100%;
    margin-bottom: 45px;
}

/* -----main---- */
main{
    width: 100%;
    padding: 0px 10%;
    
}
/* Features-section */

.Features-section{
    width: 100%;
    display: flex;
    align-items: center;
    gap:100px;
    padding-top: 85px;
}
.Features-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:22px;
}
.Features-img img{
    width: 320px;
    height: 320px;
}
.features-title{
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}
.Features-description{
    font-weight: 400;
    font-size: 18px;
    color: #727272;
}
.btn-features{
    border: none;
    text-align: center;
    padding: 20px 24px;
    background: #FF900E;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    margin-top: 30px;
}


/* -----------sub-features-section---------- */

.sub-features-section{
    width: 100%;
    display: flex;
    margin-top: 130px;
    gap: 55px;
}
.sub-features-items{
    margin-top: 40px;
}
.sub-features-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    border-left: 4px solid #FF900E;
    
    
}
.sub-features-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
}
.sub-features-item{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px 42px 30px 30px;
    margin-top: 20px;
}

.sub-features-sub-title{
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    
    
}
.sub-features-sub-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding-top: 10px;
}
.btn-box{
    padding: 20px 30px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    margin-left: 45%;
    margin-top: -100px;


}
.btn-box h1{
     font-weight: 700;
    font-size: 60px;
    text-align: center;
    color: #FFFFFF;
}
.btn-box p{
    text-align: center;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 25px;
}

/* ----------------some-facts-section------------ */
.some-facts-section{
    margin-top: 140px;
    margin-bottom: 100px;
}
.some-facts-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.some-facts-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272; 
    padding-top: 24px;
}

.some-facts{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   
   
}
.some-facts-box{  
border: 1px solid #FF900E;
border-radius: 8px;
text-align: center;
width: 200px;
height: 200px;
padding-top: 60px;
}
/* ----------------------------Our-Sponspors-------------------- */

.Our-Sponspors{
    text-align: center;
    margin-top: 140px;
    cursor: pointer;
}
.Our-Sponspors-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.Our-Sponspors-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272; 
    padding-top: 24px;
    
}
.Our-Sponspors-img{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    
}





/* -------------------footer----------------- */
footer{
    width: 100%;
    padding: 0 10%;
}
.footer{
    border: none;
    margin: 130px 0 100px 0;
   
}
.footer-description{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #424242;
    border: 1px solid #FFF4E7 ;
    background: #FFF4E7;
    border-radius: 8px;
    padding: 25px 0 25px 0;
}

@media only screen and (max-width:576px) {
    .nav-section,.Features-section, .sub-features-section, .some-facts, .Our-Sponspors-img{
        width: 100%;
        flex-direction: column;
    }
    .items li a{
        padding-right: 10px;
    }
    .nav-section-title{
        font-size: 38px;
        font-weight: 700;
    }
    .text-title{
        font-size: 50px;
        font-weight: 700;
    }
    .Features-img{
        grid-template-columns: repeat(1, 1fr);
    }
    .features-title br, .sub-features-title br, .text-description br, .some-facts-description br, .Our-Sponspors-description br{
        display: none;
    }
    .sub-features-section img{
        width: 100%;
    }
    .btn-box{
        margin: 15px 0px 0px 0px;
        margin-left: 28%;
        padding: 10px 20px;
    }
    .btn-box h1{
        font-size: 30px;
        font-weight: 700;
    }
    .btn-box p{
        font-size: 15px;
        font-weight: 500;
    }
    .some-facts{
        gap: 25px;
    }
    .Our-Sponspors-img{
        align-items: center;
        gap: 25px;
    }
    
}
